
body {
    margin: 0;
    background-image: url(assets/hatterkep.png);
    background-repeat: repeat;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    background-color: #333333;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar ul {
    list-style-type: none;
    margin-right: 8%;
    margin-left: 3%;
}

li {
    display: inline;
}

a {
    color: #ff0099;
    padding-left: 20px;
    padding-right: 20px;
}

#logo {
    position: absolute;
    left: 10%;
    top: 20%;
}

main {
    margin: 10% auto;
    width: 80%;
    text-align: justify;
    line-height: 1.8em;
}

h1 {
    font-weight: 900;
    font-size: 32px;
}

h2 {
    text-align: center;
    font-weight: 900;
    font-size: 26px;
}

h3 {
    color: #ff0099;
    font-size: 1.2em;
}

.personal-info {
    font-family: 'Noto Sans Mono', monospace;
}

pre {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

dt {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 800;
    font-size: larger;
    padding: 1%;
}